.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border: solid;
   border-width: 10px;
   border-color: darkviolet;
   border-style:ridge;
   background-color:white ;
}

